<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="../../css/join.css">
</head>

<body>
    <form action="/content/join" method="post" class="join-container">
        <h1>회원가입</h1>
        <!-- "join_id-wrap" -->
        <div class="textb">
            <label for="id"></label>
            <input type="text" id="id" name="id" required>
            <div class="placeholder">아이디</div>
        </div>
        <!-- "join_password-wrap" -->
        <div class="textb">
            <label for="password"></label>
            <input type="text" id="password" name="password" required>
            <div class="placeholder">비밀번호</div>
        </div>
        <!-- "join_nickname-wrap" -->
        <div class="textb">
            <label for="nickname"></label>
            <input type="text" id="nickname" name="nickname" required>
            <div class="placeholder">닉네임</div>
        </div>
        <!-- "join_email-wrap" -->
        <div class="textb">
            <label for="email"></label>
            <input type="text" id="email" name="email" required>
            <div class="placeholder">이메일</div>
        </div>

        <button class="btn" disabled>등록</button>
        <a href="../">홈으로</a>

        <script>
            var fields = document.querySelectorAll(".textb input");
            var btn = document.querySelector(".btn");
            function check(){
                if(fields[0].value != "" && fields[1].value != "" && fields[2].value != "" && fields[3].value != "")
                    btn.disabled = false;
                else
                    btn.disabled = true;
            }

            fields[0].addEventListener("keyup", check);
            fields[1].addEventListener("keyup", check);
            fields[2].addEventListener("keyup", check);
            fields[3].addEventListener("keyup", check);
        </script>
    </form>
</body>
</html>