<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="../../css/join.css">
</head>

<body>
    <div class="join-container">
        <form action="/content/join" method="post">
            <h1>회원가입</h1>
            <div class="id-wrap">
                <label for="id"></label>
                <input type="text" id="id" name="id" required>
                <div class="placeholder">아이디</div>
            </div>
            <div class="password-wrap">
                <label for="password"></label>
                <input type="text" id="password" name="password" required>
                <div class="placeholder">비밀번호</div>
            </div>
            <div class="nickname-wrap">
                <label for="nickname"></label>
                <input type="text" id="nickname" name="nickname" required>
                <div class="placeholder">닉네임</div>
            </div>
            <div class="email-wrap">
                <label for="email"></label>
                <input type="text" id="email" name="email" required>
                <div class="placeholder">이메일</div>
            </div>

            <button class="btn fas fa-arrow-right" disabled></button>

        </form>
    </div>
</body>
</html>