<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <form action="/content/login" method="post" class="login-container">
        <h1>로그인</h1>
        <!-- "login_id-wrap" -->
        <div class="textb">
            <input type="text" required>
            <div class="placeholder">아이디</div>
        </div>
        <!-- "login_password-wrap" -->
        <div class="textb">
            <input type="password" required>
            <div class="placeholder">비밀번호</div>
            <div class="show-password fas fa-eye-slash"></div>
        </div>

        <button class="btn fas fa-arrow-right" disabled ></button>
        <a href="redirect:/">홈으로</a>
        <a href="/content/join">회원가입</a>

        <script>
            var fields = document.querySelectorAll(".textb input");
            var btn = document.querySelector(".btn");
            function check(){
                if(fields[0].value != "" && fields[1].value != "")
                    btn.disabled = false;
                else
                    btn.disabled = true;
            }

            fields[0].addEventListener("keyup", check);
            fields[1].addEventListener("keyup", check);

            document.querySelector(".show-password").addEventListener("click",
            function(){
                if(this.classList[2] == "fa-eye-slash"){
                    this.classList.remove("fa-eye-slash");
                    this.classList.add("fa-eye");
                    fields[1].type = "text";
                }else{
                    this.classList.remove("fa-eye");
                    this.classList.add("fa-eye-slash");
                    fields[1].type = "password";
                }
            })
        </script>
    </form>
</body>
</html>