<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>

        <form action="/content/login" method="post" class="box">
            <h1>로그인</h1>
            <div class="text">
                <input type="text" name="" placeholder="아이디">
                <input tupe="password" name="" placeholder="비밀번호">
                <input type="submit" href="#" name="" value="로그인">
            </div>
        </form>

    </body>
</html>