<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SpringBoard</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/mainmiddlecommon.css">
    <link rel="stylesheet" href="css/mainmiddlestyle.css">
    <link rel="stylesheet" href="css/mainmiddlemedia.css">
    <link rel="stylesheet" href="css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>

    <div class="header">
        <h2 class="logo">SpringBoard</h2>

        <ul class="menu">
            <a href="content/login">로그인</a>
            <a href="content/join">회원가입</a>
        </ul>
    </div>

    <div class="middle">
        <main class = "main-container">
            <div id = "Board">
                <div class="board-container">
                    <div class="board-wrap">
                        <div class="board-box">
                            <div id="Game">

                                <div class="board-title">
                                    <a class="boardname">게임</a>
                                    <a class="more" href="content/list">더보기</a>
                                </div>
                                <div class="board-content">
                                    <div class="top">
                                        <div class="no"><a>no</a></div>
                                        <div class="title"><a href="#">title</a></div>
                                        <div class="date"><a>date</a></div>
                                        <div class="writer"><a>writer</a></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="no"><a>3</a></div>
                                        <div class="title"><a href="#">title</a></div>
                                        <div class="date"><a>date</a></div>
                                        <div class="writer"><a>writer</a></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="no"><a>2</a></div>
                                        <div class="title"><a href="#">title</a></div>
                                        <div class="date"><a>date</a></div>
                                        <div class="writer"><a>writer</a></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="no"><a>1</a></div>
                                        <div class="title"><a href="#">title</a></div>
                                        <div class="date"><a>date</a></div>
                                        <div class="writer"><a>writer</a></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="board-box none">
                            <div class="broadcast"><h3>방송</h3>
                                <ul>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="board-box none">
                            <div class="life"><h3>일상</h3>
                                <ul>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="board-box none">
                            <div class="etc"><h3>기타</h3>
                                <ul>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                    <li>
                                        <div class="board-info title"><p>title</p></div>
                                        <div class="board-info date"><p>date</p></div>
                                        <div class="board-info writer"><p>writer</p></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="footer-container"></footer>

</body>
</html>