<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="middle">
    <main class = "main-container">
        <div id = "Board">
            <div class="board-container">
                <div class="board-wrap">
                    <div class="board-box">
                        <div><a href="gameboard.html" >게임</a>
                            <ul>
                                <li class="board">
                                    <div class="board-info title"><a>title</a></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="board-box">
                        <div><h3>방송</h3>
                            <ul>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="board-box">
                        <div><h3>일상</h3>
                            <ul>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="board-box">
                        <div><h3>기타</h3>
                            <ul>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                                <li>
                                    <div class="board-info title"><p>title</p></div>
                                    <div class="board-info date"><p>date</p></div>
                                    <div class="board-info writer"><p>writer</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</html>