* {
    margin: 0; padding: 0; list-style: none;
}
.middle-container{
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    font-size: 30px;
    font-style: initial;
}

.main-container{
    width: 100%;
    background-color: white;
}

.board-container{
    background-color: silver;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

.board-wrap{
    margin: 100px 50px 50px 50px;/*top left bottom right*/
    overflow: hidden;
}

.board-box{
    width:50%;
    float:left;
}

.board-title {
    position:relative;
    margin-bottom: 20px;
    padding:5px;
}

.board-content {
    position: center;
    margin: 5px;
    padding: 5px;
}

.boardname{
    font-size: 40px;
    width: 50%;
}

.more{
    position:absolute;
    right:0;
    text-align: end;
    font-size: 20px;
    width: 50%;
}

/* 게시판 레이아웃 */
.top {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top a {
    font-size: 20px;
}

.bottom {
    text-align: center;
    border-bottom:1px solid gray;
    margin-bottom: 20px;
}

.bottom {
    font-size: 20px;
}

.none {
    display: none;
}

.no {
    width:10%;
    text-align: center;
    display: inline-block;
}

.title {
    width:60%;
    text-align: left;
    display: inline-block;
}

.date {
    width:10%;
    text-align: center;
    display: inline-block;
}

.writer {
    width:20%;
    text-align: center;
    display: inline-block;
}
