* {
    margin: 0; padding: 0; list-style: none;
}
.middle-container{
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    font-size: 30px;
    font-style: initial;
}

.main-container{
    width: 100%;
    background-color: white;
}

.board-container{
    background-color: silver;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

.board-wrap{
    margin: 100px 50px 50px 50px;/*top left bottom right*/
    overflow: hidden;
}

.board-box{
    width:50%;
    float:left;
}

.board-title {
    position:relative;
    margin-bottom: 20px;
    padding:5px;
}

.boardname {
    width: 50%;
    font-size: 40px;
    padding: 2px;
}

.more{
    position:absolute;
    right:0;
    width: 50%;
    text-align: end;
    font-size: 20px;
    padding:2px;
    text-decoration: none;
    color: #000;
}

.board-content {
    width:100%;
    border-top: 2px solid #000;
}

.board-content > div {
    border-bottom:1px solid gray;
    margin-bottom: 10px;
    font-size: 0;
}

.board-content > div.top {
    border-bottom:1px solid #000;
    margin-bottom: 10px;
}

.board-content > div:last-child {
    border-bottom:1px solid #000;
}

.board-content > div > div {
    display:inline-block;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}

.none {
    display: none;
}

/* 게시판 레이아웃 */
.top a {
    font-size: 20px;
    font-weight: 500;
}

.no {
    width:10%;
    text-align: center;
}

.title {
    width:60%;
    text-align: center;
}

.title a{
    text-decoration: none;
    color: #000;
}

.date {
    width:15%;
    text-align: center;
}

.writer {
    width:15%;
    text-align: center;
}
